.counter {
    display: flex;
    justify-content: space-between;
}

.counter span {
    padding: 2px 8px;
    background: var(--gray-400);
    border-radius: 8px;
    color: white;
}

.tarefasCriadas {
    color: var(--blue-300);
}

.concluidas span {
    margin-left: 5px;
}

.concluidas {
    color: var(--purple-300);
}

