/* .article {
    margin-top: calc(0px - 6.3rem);

} */

.article form {
    /* display: flex;
    flex-direction: row;
    gap: 0.5rem; 
    align-items: center; 
    height: 3.37rem;
    width: 46rem; */
    display: flex;
    flex: 1;
    justify-content: space-between;
    gap: 0.5rem;

}

.article form input,
.article form button {
    transform: translateY(-50%);

    margin-bottom: 2.3125rem;
}

.article form input {
    width: 100%;
    background-color: var(--gray-500);
    padding: 1rem;
    border-radius: 8px;
    color: var(--gray-100);
    line-height: 140%;
    height: 3.375rem;
    border: 1px solid var(--gray-700);

}

.article form input::placeholder {
    color: var(--gray-300)
}

.article form input:focus {
    border-color: var(--purple-dark);
}

.article form button {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 3.25rem;
    padding: 1rem;

    border: 0px;
    border-radius: 8px;
    gap: 0.5rem;
    box-shadow: none;
    line-height: 140%;

    background-color: var(--blue-dark);
    color: white;
    font-weight: bold;
    font-size: 0.875rem;
    border: 0px;
    cursor: pointer;
    flex-direction: row-reverse;

}

.article form button:hover {
    background-color: var(--blue);
}

/* TaskList */
.tasklist {
    /* margin-top: 4rem; */
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}