.tasklist{
    /* border: 2px solid red; */
    margin-top: 4rem;
    /* height: 100px;   */
}

.list{
    margin-top: 1.5rem;
    border-top: 1px solid var(--gray-400);
    border-radius: 8px 8px 0px 0px;
    height: 3.12rem;
    /* opacity: 0.7; */
}

.counter{
    display: flex;
    justify-content: space-between;
}

.counter span{
    padding: 1px 8px;
    background: var(--gray-400);
    border-radius: 8px;
    color: white;
}

.tarefasCriadas{
    color: var(--blue-300);
}
.concluidas{
    color: var(--purple-300);
}

